.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}

.section a {
  position: relative;
  display: flex;
  transition: all 0.3s;
}

.section a:hover {
  background: black;
  color: white;
  padding: 10px;
  font-size: 24px;
}

.section a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 50%;
  background-color: black;
  height: 1px;
  right: 65px;
  transition: all 0.8s;
}

.section a:hover::after {
  bottom: -25px;
  width: 100%;
  right: 0;
  height: 5px;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
  filter: blur(5px);
  transition: all 0.8s;
}

.shown {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: all 0.8s;
}
