/* animations start */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* animations end */

.aside {
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.initial_animation {
  animation: fade-in 2s forwards alternate;
}

.default {
  transition: all 1s;
}

.on_skills_page {
  transform: rotateX(180deg);
}
