/* animations start */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* animations end */

.aside {
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.initial_animation {
  animation: fade-in 2s forwards alternate;
}

.svg line {
  transition: all 1s;
}

/* line 1 */
.on_skills_page line:nth-child(9) {
  transform: translateY(5.4%) scaleY(0.815);
}

/* line 2 */
.on_skills_page line:nth-child(8) {
  transform: translateX(-3%) scaleX(1.375);
}

/* line 3 */
.on_skills_page line:nth-child(7) {
  transform: translateY(1.5%) scaleY(0.98);
}

/* line 4 */
.on_skills_page line:nth-child(6) {
  transform: translateX(-18%) scaleX(1.19);
}

/* line 5 */
.on_skills_page line:nth-child(5) {
  transform: translateY(28%) scaleY(0.76);
}

/* line 6 */
.on_skills_page line:nth-child(4) {
  transform: translateX(-48%) scaleX(1.62);
}

/* line 7 */
.on_skills_page line:nth-child(3) {
  transform: translateY(-114%) scaleY(2.75);
}

/* line 8 */
.on_skills_page line:nth-child(2) {
  transform: translateX(-3%) scaleX(1.185);
}

/* line 9 */
.on_skills_page line:nth-child(1) {
  transform: translateX(-4%) scaleX(1.21);
}
