/* animations start */

@keyframes skills-icon {
  0% {
    opacity: 0;
    transform: scale(2.5) rotate(-100deg);
  }

  15% {
    opacity: 0;
    transform: scale(2.5) rotate(-100deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* animations end */

.aside {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.image {
  transition: all 0.3s;
  animation-name: skills-icon;
  animation-duration: 1.3s;
}

.rotated {
  transform: rotate(90deg);
  transition: all 0.3s;
}
