.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 120px;
}

.buttons {
  display: flex;
}

.buttons button {
  font-size: 24px;
}

.buttons a:nth-child(2) button {
  border-left: none;
  border-right: none;
}

.buttons a:nth-child(3) button {
  border-right: none;
}

/* h1 animation */
.hiddenH1 {
  opacity: 0;
  transform: translateY(20%);
  filter: blur(5px);
  transition: all 1s;
}
.shownH1 {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: all 1s;
}

/* buttons animation */
.hiddenButtons {
  opacity: 0;
  filter: blur(3px);
  transition: all 0.6s;
}
.shownButtons {
  opacity: 1;
  filter: blur(0);
  gap: 0;
  transition: all 1.3s;
}
