.custom_link_container {
  position: relative;
}

.custom_link {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  border-bottom: 1px solid white;
  transition: all 0.4s;
}

.custom_link:hover {
  border-bottom: 1px solid black;
}
