.custom_link_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom_link {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  border-bottom: 1px solid white;
  transition: all 0.4s;
}

.custom_link:hover {
  border-bottom: 1px solid black;
}

@media (max-width: 1000px) {
  .custom_link {
    border-bottom: none;
    margin-left: 0;
  }

  .custom_link:hover {
    border: none;
  }
}

.mobile_submenu_button {
  position: absolute;
  background: none;
  padding: 10px;
  border: none;
  top: 0;
  transform: translate(180%) rotate(0deg);
  transition: all 0.5s;
}

.mobile_submenu_button:hover {
  background: none;
  border: none;
}

.uncollapsed {
  transform: translate(180%) rotate(180deg);
}
