@keyframes nav-menu {
  0% {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes nav-logo {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.ul {
  display: flex;
}

.ul > li {
  border-bottom: 1px solid white;
  transition: all 0.3s;
  animation-name: nav-menu;
}

.ul > li:nth-child(5) {
  animation-duration: 1.7s;
}
.ul > li:nth-child(4) {
  animation-duration: 1.5s;
}
.ul > li:nth-child(3) {
  animation-duration: 1.4s;
}
.ul > li:nth-child(2) {
  animation-duration: 1.2s;
}
.ul > li:nth-child(1) {
  animation-duration: 1s;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .mobile {
    display: block;
  }

  .ul {
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .ul > li {
    border-bottom: none;
  }
}
