.aside {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.aside img {
  transition: all 0.3s;
}

.aside a:hover img {
  margin-left: 5px;
}