.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  margin-top: 20px;
}

/* greet animation */
.hideGreet {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-300%);
}
.showGreet {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 0.8s;
}

/* name animation */
.hideName {
  opacity: 0;
  letter-spacing: 100px;
  filter: blur(5px);
  transform: translateX(30%);
}
.showName {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

/* description animation */
.hideDescription {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
}
.showDescription {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1.2s;
}

/* cta animation */
.hideCTA {
  opacity: 0;
  filter: blur(12px);
  transform: translateY(200%);
}
.showCTA {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: all 2s;
}
