@keyframes cta-initial-delay {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .section {
    padding: 70px 15px 0;
    padding-bottom: 0;
    height: 500px;
    justify-content: start;
    gap: 15px;
  }
}

@media (min-height: 600px) {
  .section {
    height: 100vh;
  }
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .greeting {
    gap: 10px;
    font-size: 14px;
  }
}

.cta {
  margin-top: 20px;
  animation-name: cta-initial-delay;
  animation-duration: 2s;
}

@media (max-width: 600px) {
  .cta {
    margin-top: 0;
  }
}

/* greet animation */
.hideGreet {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-300%);
}

@media (max-width: 1000px) {
  .hideGreet {
    transform: translateY(-150%);
  }
}

.showGreet {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 0.8s;
}

/* name animation */
.hideName {
  opacity: 0;
  letter-spacing: 100px;
  filter: blur(5px);
  transform: translateX(30%);
}

@media (max-width: 1000px) {
  .hideName {
    letter-spacing: 15px;
    transform: translateX(15%);
  }
}

.showName {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

/* description animation */
.hideDescription {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
}
.showDescription {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1.2s;
}

/* cta animation */
.hideCTA {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(200%);
}
.showCTA {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition: all 1s;
}
