.div {
  z-index: 99;
  bottom: 150px;
  right: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visible_section {
  background: black;
  transition: all 1s;
}

.non_visible_section {
  background: white;
  transition: all 1s;
}

.shown {
  opacity: 1;
  transform: translateY(0) rotate(45deg);
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: block;
  transition: all;
}

.div a:nth-child(1) {
  transition-duration: 0.5s;
}
.div a:nth-child(2) {
  transition-duration: 0.6s;
}
.div a:nth-child(3) {
  transition-duration: 0.7s;
}
.div a:nth-child(4) {
  transition-duration: 0.8s;
}
.div a:nth-child(5) {
  transition-duration: 0.9s;
}

.hidden {
  transform: translateY(2000%) rotate(45deg);
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
