/* <a> animations */

@keyframes slide-in {
  from {
    transform: translateY(500%) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* <a> animations end */

.div {
  z-index: 99;
  bottom: 150px;
  right: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visible_section {
  background: black;
  transition: all 1s;
}

.non_visible_section {
  background: white;
  transition: all 1s;
}

.shown {
  transform: translateY(0) rotate(45deg);
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: block;
  animation: slide-in 1s alternate forwards;
}

.div a:nth-child(1) {
  animation-duration: 0.7s;
}
.div a:nth-child(2) {
  animation-duration: 1s;
}
.div a:nth-child(3) {
  animation-duration: 1.3s;
}
.div a:nth-child(4) {
  animation-duration: 1.6s;
}
.div a:nth-child(5) {
  animation-duration: 2.1s;
}

.hidden {
  transform: rotate(45deg);
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  animation: slide-out 1s forwards alternate;
}
