.article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .article {
    height: 500px;
    gap: 30px;
    justify-content: center;
  }
}

.description {
  max-width: 800px;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateY(30%);
}

.shown {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}
