.nav_content_container {
  position: fixed;
  overflow-y: auto;
  top: 60px;
  padding-top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-200%);
  transition: all 0.8s;
  z-index: -1;
  border-bottom: 1px solid black;
  background-color: white;
}

.mobile_menu_btn {
  width: 30px;
  position: relative;
  padding: 20px 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s;
}

.mobile_menu_btn:hover {
  background: none;
  border: none;
}

.mobile_menu_btn::before,
.mobile_menu_btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  transition: all 0.3s;
}

.mobile_menu_btn::before {
  transform: translateY(500%) scaleX(1);
}

.mobile_menu_btn::after {
  transform: translateY(-500%) scaleX(1);
}

.mobile_menu_btn.open::before {
  transform: rotate(45deg);
}

.mobile_menu_btn.open::after {
  transform: rotate(-45deg);
}

.open {
  transform: translateY(0);
}

@media (min-width: 1000px) {
  .nav {
    display: none;
  }
}
