.mobile_menu {
  width: 70px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s;
}

.mobile_menu:hover {
  background: none;
  border: none;
}

.mobile_menu::before,
.mobile_menu::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background: black;
  transition: all 0.3s;
}

.mobile_menu::before {
  transform: translateY(500%) scaleX(1);
}

.mobile_menu::after {
  transform: translateY(-500%) scaleX(1);
}

.mobile_menu:hover::before {
  transform: translateY(500%) scaleX(1.23);
}

.mobile_menu:hover::after {
  transform: translateY(-500%) scaleX(1.23);
}

.mobile_menu.open::before {
  transform: rotate(45deg);
}

.mobile_menu.open::after {
  transform: rotate(-45deg);
}

.mobile_menu.open:hover::before {
  transform: rotate(45deg) scaleX(1.23);
}

.mobile_menu.open:hover::after {
  transform: rotate(-45deg) scaleX(1.23);
}

.div {
  position: fixed;
  padding-top: 20px;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-200%);
  transition: all 0.8s;
  z-index: -1;
  /* helper */
  background-color: yellow;
}

.div a {
  font-size: 24px !important;
}

.open {
  transform: translateY(0);
}

@media (min-width: 1000px) {
  .nav {
    display: none;
  }
}
