.hidden {
  display: none;
}
.submenu_parent > a {
  padding: 0;
}

.menu {
  position: absolute;
  z-index: 99;
  left: 0;
  width: max-content;
  background: white;
  padding-top: 10px;
}

.menu > li > a {
  display: block;
  cursor: pointer;
  width: max-content;
  margin-bottom: 25px;
  padding: 10px 10px;
  border-bottom: 1px solid white;
  border-left: 5px solid black;
  transition: all 0.5s;
}

.menu > li > a:hover {
  border-bottom: 1px solid black;
  border-left: 1px solid white;
}

.mobile {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collapse_button {
  position: absolute;
  /* right: 0; */
  width: 20px;
  background: none;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transform: translate(300%, 100%);
}

.collapse_button:hover {
  background: none;
  border: 1px solid red;
}

.collapse_button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  transform: rotate(-45deg);
}

@media (max-width: 600px) {
  .menu > li > a {
    border: none;
    border-bottom: 1px solid black;
    font-size: 12px !important;
    margin-bottom: 10px;
  }

  .menu > li > a:hover {
    border: none;
  }
}
