/* <a> animations */

@keyframes slide-right {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) rotate(45deg);
  }
}

/* <a> animations end */

.div {
  z-index: 99;
  bottom: 50%;
  left: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div a {
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: block;
}

.div a:nth-child(1),
.div a:nth-child(2),
.div a:nth-child(3),
.div a:nth-child(4),
.div a:nth-child(5) {
  animation-name: slide-right;
  animation-direction: normal;
}

.div a:nth-child(1) {
  animation-duration: 0.5s;
}
.div a:nth-child(2) {
  animation-duration: 0.7s;
}
.div a:nth-child(3) {
  animation-duration: 0.9s;
}
.div a:nth-child(4) {
  animation-duration: 1.2s;
}
.div a:nth-child(5) {
  animation-duration: 1.5s;
}

.visible {
  background: black;
  transition: all 0.4s;
}

.hidden {
  background: white;
  transition: all 0.4s;
}
