.article {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

@media (max-width: 1000px) {
  .article {
    height: 600px;
    padding: 0 10px;
    gap: 20px;
  }
}

@media (min-height: 600px) {
  .article {
    height: 100vh;
  }
}

.header {
  text-align: center;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

@media (max-width: 1000px) {
  .figure {
    gap: 20px;
  }
}

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 1000px) {
  .image {
    max-width: 400px;
  }
}

.figure figcaption {
  max-width: 800px;
  text-align: center;
}

@media (max-width: 1000px) {
  .figure figcaption {
    font-size: 14px;
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(20%);
}

.shown {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1.2s;
}
