*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*::selection {
  color: white;
  background-color: black;
}

html {
  overflow-x: hidden;
  text-align: center;
}

body {
  position: relative;
  overflow-x: hidden;
}

button {
  padding: 15px 35px;
  background-color: white;
  color: black;
  border-radius: 0;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: normal;
  border: 1px solid black;
  transition: all 0.3s;
}

button:hover {
  border: 1px solid black;
  color: white;
  background: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1 {
  font-size: 130px;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-weight: normal;
}

@media (max-width: 1000px) {
  h1 {
    font-size: calc(10vw + 5px);
    letter-spacing: calc(1vw + 2px);
  }
}

h2 {
  font-size: 70px;
}

@media (max-width: 1000px) {
  h2 {
    font-size: calc(5vw + 5px);
  }
}

h3 {
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 15px;
}

@media (max-width: 1000px) {
  h3 {
    font-size: calc(5vw + 5px);
    letter-spacing: calc(2vw + 1px);
  }
}

h4 {
  font-size: 0.8rem;
  opacity: 50% !important;
  font-weight: normal;
  letter-spacing: 7px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  h4 {
    font-size: 8px;
  }

  p {
    font-size: 14px;
    padding: 0 15px;
  }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(33, 33, 33);
}

/* Page transition */

@keyframes slide-in {
  0% {
    border-radius: 100%;
    transform: scale(2) translateX(0) translateY(0);
  }

  100% {
    border-radius: 100%;
    transform: scale(1) translateX(-200%) translateY(100%);
  }
}

.page_transition {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  aspect-ratio: 1;
  transform: scale(1) translateX(-200%) translateY(100%);
  border-radius: 100%;
  background: black;
  animation: slide-in 5s;
}
